@{
    ViewBag.Title = "Admin";
}

<div class="col-md-6">
    <h4>Product Mangement</h4>
    <div class="list-group">
        @Html.ActionLink("Categories", "Index", "ProductCategoryManager", null, new { @class = "list-group-item" })
        @Html.ActionLink("Products", "Index", "ProductManager", null, new { @class = "list-group-item" })
    </div>
</div>

<div class="col-md-6">
    <h4>Order Mangement</h4>
    <div class="list-group">
        @Html.ActionLink("Orders", "Index", "OrderManager", null, new { @class = "list-group-item" })
    </div>
</div>

<div class="col-md-12 clearfix" ></div>
